<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
<h1>{{title}}</h1>
<h2>
<ul>
    {{#each animals}}
    <p>Type: {{animalType}}</p>
    <p>Pet: {{pet}}</p>
    <p>Fierceness: {{fierceness}}</p>
    <br> {{/each}}
</ul></h2>