<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>Icecream for {{eater}}</h1>

<ul>
{{#each flavors }}
  <li>Flavor:  {{name}}  ${{price}}.00 Awesomeness:  {{awesomeness}}</li>
{{/each}}
</ul>